In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
df = pd.read_csv('MSVD/MSVD.csv')

In [3]:
df.head()

,VideoID,Start,End,WorkerID,Source,AnnotationTime,Language,Description
0,mv89psg6zh4,33,46,682611,clean,66,English,A bird in a sink keeps getting under the runni...
1,mv89psg6zh4,33,46,760882,clean,16,English,A bird is bathing in a sink.
2,mv89psg6zh4,33,46,878566,clean,76,English,A bird is splashing around under a running fau...
3,mv89psg6zh4,33,46,707318,clean,14,English,A bird is bathing in a sink.
4,mv89psg6zh4,33,46,135621,clean,58,English,A bird is standing in a sink drinking water th...

In [4]:
df.shape

(85550, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85550 entries, 0 to 85549
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   VideoID         85550 non-null  object
 1   Start           85550 non-null  int64
 2   End             85550 non-null  int64
 3   WorkerID        85550 non-null  int64
 4   Source          85550 non-null  object
 5   AnnotationTime  85550 non-null  int64
 6   Language        85550 non-null  object
 7   Description     85549 non-null  object
dtypes: int64(4), object(4)
memory usage: 5.2+ MB

In [6]:
df['Source'].value_counts()

unverified    51695
clean         33855
Name: Source, dtype: int64

In [7]:
df['VideoLength'] = df['End'] - df['Start']

In [8]:
df.dropna(inplace=True)

In [9]:
df.drop(['Language'],inplace=True,axis=1)

In [10]:
df['Description']

0        A bird in a sink keeps getting under the runni...
1                             A bird is bathing in a sink.
2        A bird is splashing around under a running fau...
3                             A bird is bathing in a sink.
4        A bird is standing in a sink drinking water th...
                               ...
85545                 Milk being poured to a bowl of pasta
85546                        the girls are mixing the milk
85547           The lady added a cream sauce to the pasta.
85548                         women are cooking her kichen
85549           The woman is pouring cream over the pasta.
Name: Description, Length: 85549, dtype: object

In [11]:
# sentences = df['Description'][0]

In [12]:
# sentences = nltk.sent_tokenize(str(sentences))

In [13]:
# sentences

In [14]:
# verbs = []
# nouns = []

# for sentence in sentences:
#      for word,pos in nltk.pos_tag(nltk.word_tokenize(str(sentence))):
#          if (pos == 'VBP' or pos == 'VBD' or pos == 'VB' or pos == 'VBZ' or pos=='VBG'):
#             verbs.append(word)
#          if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
#             nouns.append(word)

In [15]:
def extract_verb(sentences):
    sentences = nltk.sent_tokenize(str(sentences))
    
    verbs = []
    nouns = []

    for sentence in sentences:
         for word,pos in nltk.pos_tag(nltk.word_tokenize(str(sentence))):
             if (pos == 'VBP' or pos == 'VBD' or pos == 'VB' or pos=='VBG'):
                verbs.append(word)
             if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
                nouns.append(word)
                
    return verbs

In [16]:
df['Verbs'] = df.apply(lambda row:extract_verb(row['Description']),axis=1)

In [20]:
df.to_csv('MSVD/msvd_activity.csv',index=False)